<% @page_title = "Create a Page" %>

<div>

<h2>Create Page</h2>

<%= form_for(@page, :url => pages_path(:subject_id => @subject.id)) do |f|%>

    <%= render(:partial => "form", :locals => {:f => f}) %>

    <div>
        <%= f.submit("Create Page") %>
        <%= link_to("Back", pages_path(:subject_id => @subject.id)) %>
    </div>

<% end %>

</div>