<% @page_title = "Create a Subject" %>

<div>

<h2>Create Subject</h2>

<%= form_for(@subject) do |f|%>

    <%= render(:partial => "form", :locals => {:f => f}) %>

    <div>
        <%= f.submit("Create Subject") %>
        <%= link_to("Back", subjects_path) %>
    </div>

<% end %>

</div>