
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="jumbotron">
            <h2>Welcome to the Simple CMS!</h1>
            <p>This is a simple Content Management System (CMS) created with Ruby on Rails.</p>
            <p><a class="btn btn-primary" href="https://github.com/Bailig/simple_cms" target="_blank" role="button">Go to GitHub</a></p>
        </div>
    </div>
</div>